html {
    font-family: sans-serif;
    margin: 0;
    background-color: midnightblue;
  }
  main {
    margin: 0 auto;
    padding: 2rem;
    max-width: 36rem;
    background-color: lightgreen;
    color: darkslategray;
    min-height: 16rem;
  }
  button {
    display: inline-block;
    padding: .5em 1.125em;
    font-size: 1rem;
    border-radius: .3rem;
    border: 0;
    background-color: midnightblue;
    color: white;
    font-weight: bolder;
  }
  button:hover {
    background-color: mediumblue;
  }
  button:active {
    background-color: darkblue;
  }
  
  input {
    padding: .5rem;
    font-size: 1rem;
    background-color: white;
    border: 0;
    box-sizing: border-box;
    border-radius: .3rem;
  }
  
  ul {
    list-style: none outside none;
    padding: 0;
    margin: 1rem 0;
  }
  li {
    padding: .35rem;
    border-bottom: 1px solid currentColor;
  }
  
  aside {
    margin: 2rem 0;
    font-size: 1.25rem;
    background-color: midnightblue;
    color: white;
    border-radius: .3rem;
    padding: .75rem
  }
  aside:empty {
    visibility: hidden;
  }
  