/*
* Ici, nous chargeons les fichiers de police grâce à la règle @font-face
* Pour en savoir plus: https://developer.mozilla.org/fr/docs/Web/CSS/@font-face
*/
@font-face {
  font-family: 'Raleway';
  src: url('raleway-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('raleway-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('raleway-light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Raleway';
  src: url('raleway-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: url('raleway-bolditalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
